@using Newtonsoft.Json;

@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Maintainance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Maintenance</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            var result = new Dictionary<string, object>();
            var dictionary = product as IDictionary<string, object>;
            foreach (var item in dictionary)
            {
                result.Add(item.Key, item.Value);
            }

            var json = JsonConvert.SerializeObject(result, Formatting.Indented);


            <tr>
                <td>@product.ID</td>
                <td>@product.CategoryName</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>@product.Size</td>
                <td>@product.Gender</td>
                <td>
                    <button id="row-edit-@product.ID" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-edit" onclick="GetIDFromGrid(@json)"> Edit </button> |
                    <button id="row-delete-@product.ID" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-delete" onclick="GetIDFromGrid(@json)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data_parameter="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete </p>
            </div>
            <div class="modal-footer">
                <button id="btnDelCancel" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="btnDelOK" type="button" class="btn btn-primary" asp-controller="Maintenance" asp-action="Delete" asp-route-id="">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data_parameter="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">Product Name:</div>
                        <div class="col-sm">
                            <input id="txtProductName" type="text" value="" />
                        </div>
                        <div class="col-sm">Category:</div>
                        <div class="col-md">
                            <select id="cmbCategory">
                                @foreach (Category cate in ViewBag.Categories)
                                {
                                    <option value="@cate.ID">@cate.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">Price: </div>
                        <div class="col-sm">
                            <input id="txtPrice" type="text" value="" />
                        </div>
                        <div class="col-sm">Size:</div>
                        <div class="col-md">
                            <select id="cmbSize">
                                @foreach (FSize size in ViewBag.Size)
                                {
                                    <option value="@size.ID">@size.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">Gender:</div>
                        <div class="col-md">
                            <select id="cmbGender">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnEditCancel" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="btnEditOK" type="button" class="btn btn-primary" onclick="UpdateProduct()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var sproduct;
    var product;

    var txtProductName = document.getElementById('txtProductName');
    var cmbCategory = document.getElementById('cmbCategory');
    var cmbSize = document.getElementById('cmbSize');
    var cmbGender = document.getElementById('cmbGender');
    var btnEditOK = document.getElementById('btnEditOK');
    var txtPrice = document.getElementById('txtPrice');
    var btnDelOK = document.getElementById('btnDelOK');

    function GetIDFromGrid(row) {
        sproduct = JSON.stringify(row)
        product = JSON.parse(JSON.stringify(row));
    }

    $(document.getElementById('confirm-delete')).on('shown.bs.modal', function (e) {
        btnDelOK.setAttribute('data-id', product.ID);
    });

    $(document.getElementById('confirm-edit')).on('shown.bs.modal', function (e) {
        btnEditOK.setAttribute('data-id', product.ID);
        txtProductName.setAttribute('value', product.ProductName);
        txtPrice.setAttribute('value', product.Price);
        cmbCategory.value = product.CategoryID;
        cmbSize.value = product.SizeID;
        cmbGender.value = product.Gender == 'Female' ? 0 : 1;
    });


    function UpdateProduct() {
        console.log('Submitting form...');
        var data = {};
        data['ID'] = product.ID;
        data['Code'] = product.Code;
        data['CategoryID'] = cmbCategory.value;
        data['ColorID'] = product.ColorID;
        data['Name'] = txtProductName.value;
        data['Price'] = txtPrice.value;
        data['Description'] = 'abc';
        data['IsActive'] = true;
        data['Gender'] = cmbGender.value;
        data['SizeID'] = cmbSize.value;

    $.ajax({
            type: "Post",
            url: '/Maintenance/Edit',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            console.log('Data received: ');
            console.log(result);
    }
    });
    }


</script>


