@using Newtonsoft.Json;


@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            var result = new Dictionary<string, object>();
            var dictionary = product as IDictionary<string, object>;
            foreach (var item in dictionary)
            {
                result.Add(item.Key, item.Value);
            }

            var json = JsonConvert.SerializeObject(result, Formatting.Indented);


            <tr>
                <td>@product.ID</td>
                <td>@product.CategoryName</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>@product.Size</td>
                <td>@product.Gender</td>
                <td>
                    <button id="row-edit-@product.ID" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-edit" onclick="GetIDFromGrid('@product.ID')"> Edit </button> |
                    <button id="row-delete-@product.ID" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-delete" onclick="GetIDFromGrid('@product.ID')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data_parameter="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete </p>
            </div>
            <div class="modal-footer">
                <button id="btnDelCancel" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="btnDelOK" type="button" class="btn btn-primary" asp-controller="Maintenance" asp-action="Delete" asp-route-id="">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data_parameter="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="radio">
                                </span>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->

                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="col-form-label">Code </label>
                            <input id="txtCode" type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Color </label>
                            <select id="cmbColor" class="form-control">
                                @foreach (FColor color in ViewBag.Colors)
                                {
                                    <option value="@color.ID">@color.Name</option>
                                }
                            </select>
                        </div>
                    </form>

                    <br />

                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="col-form-label">Product Name </label>
                            <input id="txtProductName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Category:</label>
                            <select class="form-control" id="cmbCategory">
                                @foreach (Category cate in ViewBag.Categories)
                                {
                                    <option value="@cate.ID">@cate.Name</option>
                                }
                            </select>
                        </div>
                    </form>

                    <br />

                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="col-form-label">Price </label>
                            <input id="txtPrice" type="text" class="form-control" value="" />
                        </div>


                        <div class="form-group">
                            <label class="col-form-label">Size</label>
                            <select class="form-control" id="cmbSize">
                                @foreach (FSize size in ViewBag.Size)
                                {
                                    <option value="@size.ID">@size.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <br />

                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="col-form-label">Gender</label>
                            <select class="form-control" id="cmbGender">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                            </select>

                            <div class="form-group">
                                <label class="col-form-label">Active </label>
                                <input id="chkIsActive" type="checkbox" class="form-control" value="false" />
                            </div>

                        </div>
                    </div>

                    <br />

                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="col-form-label">Description </label>
                            <input id="txtDescription" type="text" class="form-control-lg" value="" />
                        </div>
                    </div>

                </div>

            </div>


            <div class="modal-footer">
                <button id="btnEditCancel" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="btnEditOK" type="button" class="btn btn-primary" onclick="UpdateProduct()">Yes</button>
            </div>

        </div>



    </div>
</div>

<script type="text/javascript">

    var sproduct;
    var product;

    var txtProductName = document.getElementById('txtProductName');
    var cmbCategory = document.getElementById('cmbCategory');
    var cmbSize = document.getElementById('cmbSize');
    var cmbGender = document.getElementById('cmbGender');
    var btnEditOK = document.getElementById('btnEditOK');
    var txtPrice = document.getElementById('txtPrice');
    var btnDelOK = document.getElementById('btnDelOK');
    var txtCode = document.getElementById('txtCode');
    var txtDescription = document.getElementById('txtDescription');

    function GetIDFromGrid(productID) {
        let data = {};
        data['productID'] = productID;
        ExcuteJson(data, '/Maintenance/GetProduct', GetProductCallback);
    }

    function BindingModelData() {
        btnEditOK.setAttribute('data-id', product.ID);
        txtProductName.setAttribute('value', product.ProductName);
        txtPrice.setAttribute('value', product.Price);
        cmbCategory.value = product.CategoryID;
        cmbSize.value = product.SizeID;
        cmbGender.value = product.Gender;
        txtCode.value = product.Code;
        txtDescription.value = product.Description;
    }

    $(document.getElementById('confirm-delete')).on('shown.bs.modal', function (e) {
        btnDelOK.setAttribute('data-id', product.ID);
    });

    $(document.getElementById('confirm-edit')).on('shown.bs.modal', function (e) {
        BindingModelData();
    });



    function UpdateProduct() {
        console.log('Submitting form...');
        let data = {};
        data = product;
        data['Code'] = txtCode.value;
        data['CategoryID'] = cmbCategory.value;
        data['Name'] = txtProductName.value;
        data['Price'] = txtPrice.value;
        data['Gender'] = cmbGender.value;
        data['SizeID'] = cmbSize.value;
        data['Description'] = txtDescription.value;
        ExcuteJson(data, '/Maintenance/Edit', null);
        location.reload();
    }

    function GetProductCallback(returndata) {
        product = returndata[0];
    }

    function ExcuteJson(data, stringUrl, Callback) {
        $.ajax({
            type: "Post",
            url: stringUrl,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log('Data received: ');
                if (Callback != null)
                    Callback(result);
            }

        });
    }



</script>


