@model IEnumerable<Product>
@{
    ViewData["Title"] = "Maintainance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Maintainance</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.Products)
        {
        <tr>
            <td>@product.ID</td>
            <td>@product.CategoryName</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Size</td>
            <td>@product.Gender</td>
        </tr>
        }
    </tbody>
</table>


